/*-----propertype------*/
.lineElem_middle {
  @extend %lineElem_middle;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.w5em {
  width: 5em;
}

.w-lg {
  width: 10em;
}

.f-bold {
  font-weight: bold !important;
}

.no-border {
  border: none !important;
}

.layout-center {
  text-align: center !important;
  vertical-align: middle !important;
}

.c-tip {
  font-size: 12px;
  padding: 10px;
}

.text-nowrap {
  white-space: nowrap;
}

.c-media {
  .c-media-item {
    position: relative;
    & > div {
      @extend %lineElem_top;
    }
    .avatar {
      img {
        @include w(180);
        @include h(135);
      }
    }
    .desc {
      max-width: formatVal(500, rem);
      .title {
        @include fs(28);
        //font-weight: bold;
      }
      .float-chunk {
        position: absolute;
        bottom: 0;
        @include fs(18);
        color: $tipColor;
        span {
          & + span {
            margin-left: 15px;
          }
          display: inline-block;
        }
      }
    }
  }
}

.c-btn-success {
  background-color: $themColor;
  color: $whiteColor;
}

.c-select-timebox {
  .c-custom-timer {
    display: none !important;
    &.on {
      display: inline-block !important;
    }
  }
}

.c-shadow {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  .c-center-ta {
    display: none;
  }
  &.hasinfo {
    background-color: transparent;
    .c-center-ta {
      display: table;
      &.error {
        max-width: 75%;
        @include pall2(20, 20);
        color: $errorColor;
        background-color: $errorBgColor;
        border-radius: 10px;
      }
    }
  }
}

.c-shadow-local-abs {
  &.active {
    display: block;
  }
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  &.white {
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    bottom: 0;
  }
  .c-center-ta {
    .c-center-tc {
      .c-center-cont {
        color: #666;
        i {
          ;
        }
      }
    }
  }
  .c-center-cont p {
    font-size: 16px;
  }
}

.c-shadow-local {
  &.active {
    display: block;
  }
  display: none;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  .item {
    display: none;
    &.nothing {
      color: $imgBgColor;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
}

.c-center-ta {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  .c-center-tc {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    .c-center-cont {
      display: inline-block;
      color: #fff;
      text-align: left;
    }
  }
}

.c-message, .c-message-local {
  .alert {
    padding: 5px;
    border-radius: 0;
    border: none;
  }
}

.c-message {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
}

.c-message-local {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.c-error-bg {
  background: $msgErrorBgColor;
  color: $msgErrorColor;
}

.c-select {
  .c-select-menu {
    margin: 0;
    .item {
      margin: 0;
      > a {
      }
    }
    li > a.disable {
      color: #999;
      background: none;
      cursor: not-allowed;
      &:hover {
        color: #999;
        background: none;
        cursor: not-allowed;
      }
    }
  }
  .c-select-btn {
    position: relative;
    width: 10em;
    text-align: left;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .caret {
      position: absolute;
      top: formatVal(10, rem);
      right: formatVal(3, rem);
    }
  }
}

.c-correct-bg {
  background: $msgCorrectBgColor;
  color: $msgCorrectColor;
}

.c-form {
  .c-form-group {
    font-size: 0;
    & + .c-form-group {
      margin-top: formatVal(22, rem);
    }
    label {
      margin: 0;
      font-weight: normal;
    }
    .c-form-name, .c-form-cont {
      @include fs(14);
      @extend %lineElem_middle;
    }
    .c-form-name {
      width: 4em;
    }
    .c-form-checkbox, .c-form-radio {
      label, input {
        margin: 0;
      }
      input {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    .c-form-cont {
      position: relative;
      .c-form-validate-tip {
        left: auto !important;
        right: 0 !important;
        top: 0 !important;
      }
      .c-form-name {
        width: auto !important;
        white-space: nowrap;
        margin-right: formatVal(10, rem);
      }
    }
    &.c-code {
      .code-input, .code-img {
        width: 48%;
        @extend %lineElem_middle;
      }
      .code-input {
        position: relative;
        margin-right: 4%;
      }
      .code-img {
        img {
          width: 100%;
          height: 34px;
        }
      }
    }
  }
}

.c-inline {
  .inline-group {
    & + .inline-group {
      margin-top: formatVal(10, rem);
    }
    .title, .cont {
      @extend %lineElem_middle;
    }
    .title {

    }
    .cont {
      input[type='text'], input[type='password'], textarea {
        padding: 3px 5px;
        border-color: $borderColor;
        border-radius: 3px;
      }
    }
  }
}

.c-scrollbar {
  &::-webkit-scrollbar {

  }
}

.c-pagination {
  position: relative;
  .pagination {
    float: right;
  }
}

.c-table {
  table-layout: auto;
  max-width: none;
  min-width: 100%;
  width: auto;
  &.table-fixed {
    table-layout: fixed;
    width: 100%;
  }
  tr {
    &.delay {
      background-color: rgba(255, 0, 0, 0.05);
    }
    td, th {
      word-break: break-all;
      // padding: 8px!important;
      min-width: 5em;
      &.lg {
        min-width: 20em;
      }
      &.sm {
        min-width: 5.5em;
      }
      &.sm_largest {
        min-width: 8em;
      }
      &.md {
        min-width: 15em;
      }
      &.md_largest {
        min-width: 18em;
      }
      &.xs {
        min-width: 4em;
      }
      &.xxs {
        min-width: 2em;
      }
      &.wauto {
        min-width: 3em;
      }
    }
    td {
      &.hasFlag {
        position: relative;
        padding-right: formatVal(60, rem);
        font-size: 0;
        .text, .icon {
          @extend %lineElem_top
        }
        .text {
          @include fs(14);
        }
        .icon {
          position: absolute;
          padding: 2px 3px;
          right: formatVal(10, rem);
          @include fs(12);
          color: $borderColor2;
          border: 1px solid $borderColor2;
          line-height: 1;
        }
      }
    }
  }
}

.c-consultation {
  position: fixed;
  z-index: 150;
  left: 20px;
  bottom: 20px;
  .item {
    & + .item {
      margin-top: 10px;
    }
  }
  .item {
    > .btn {
      padding: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-radius: 50%;
      background-color: $themColor;
      box-shadow: 0 0 3px #215940;
      &, &:focus:active {
        outline: none;
      }
      &:hover {
        opacity: .8;
      }
    }
    &.c-robot {
      i {
        color: #fff;
        font-size: 20px;
        &.fa-commenting-o:before {
          content: "\F27B";
        }
      }
      &.active {
        i {
          &.fa-commenting-o:before {
            content: "\f00d";
          }
        }
      }
    }
    .dialog {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      @include w(500);
      &.active {
        display: block;
      }
      .panel {
        .panel-body {
          @include h(200);
          overflow-y: auto;
          .media {
            float: left;
            max-width: 80%;
            .media-right, .media-left {
              img {
                display: block;
                @include w(30);
                @include h(30);
                border-radius: 50%;
              }
            }
            .media-body {
              .cont {
                display: inline-block;
                border-radius: 5px;
                border: 1px solid $borderColor2;
                padding: 5px;
              }
            }
            &.robot {
            }
            &.user {
              float: right;
              .media-body {
                text-align: right;
                .cont {
                  text-align: left;
                  background-color: $themColor;
                }
              }
            }
          }
        }
        .panel-footer {
          .btn {
            background-color: $themColor;
            color: #fff;
          }
        }
      }
    }
  }
}

.c-uploadBox {
  .btn-primary {
    background-color: $themColor;
  }
  p {
    margin-bottom: 0;
  }
  .uploadBtn .uploaderInfo {
    display: inline-block;
  }
  .uploaderInfo {
    margin-left: formatVal(10, rem);
    line-height: normal;
    font-size: 0;
    display: inline-block;
    vertical-align: bottom;
    p {
      display: inline-block;
    }
    .uploadFileNameSpan {
      font-size: 12px;
    }
    .picbox {
      img {
        max-width: 100px;
      }
      .size {
        margin-left: 10px;
        font-size: 12px;
        color: #787d82;
        vertical-align: bottom;
      }
    }
  }
  &.multiple {
    .uploaderInfo {
      .picbox, .uploadFileNameSpan {
        font-size: 0;
        .item {
          @include fs(14);
          position: relative;
          @extend %lineElem_bottom;
          text-align: center;
          cursor: pointer;
          &:hover {
            .delete {
              display: block;
            }
          }
          & + .item {
            margin-left: formatVal(20, rem);
          }
          img, .size {
            display: block;
          }
          .size {
            @include fs(12);
            margin: formatVal(10, rem) 0 0;
          }
          .delete {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            @include fs(18);
            color: $color-red-ed4;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.c-upload-progressbox {
  position: absolute;
  z-index: 1002;
  left: 10%;
  width: 80%;
  top: 40%;
  .c-upload-progress {
  }
  .c-upload--progress-percent {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  .c-upload-progress {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #787d82;
    .c-upload-progress-current {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #5dc560;
    }
  }
}

.c-switch-wrapper {
  font-size: 0;
  .c-switch-name, .c-switch {
    display: inline-block;
    vertical-align: middle;
  }
  .c-switch-name {
    font-size: 14px;
    color: #666;
    margin-right: formatVal(5, rem);
  }
  .c-switch {
    position: relative;
    @include w(40);
    @include h(20);
    padding: formatVal(3, rem);
    label {
      margin-bottom: 0;
      cursor: pointer;
    }
    input[type=checkbox] {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
    }
    .click-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
    .switch-bar {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #C6C6C6;
      border-radius: 20px;
    }
    .switch-btn {
      position: absolute;
      z-index: 2;
      top: 0;
      @include w(20);
      @include h(20);
      border-radius: 50%;
      background-color: #EBEBEB;
      transition: all .5s;
    }
    &.off {
      .switch-btn {
        left: 0;
      }
    }
    &.on {
      .switch-bar {
        background-color: #A7D7A5;
      }
      .switch-btn {
        right: 0;
        background-color: #58B154;
      }
    }
  }
}

.c-select-tag {
  .select-menu {
    font-size: 0;
    > .item {
      padding: formatVal(4, rem) formatVal(10, rem);
      @extend %lineElem_top;
      @include fs(14);
      color: $tipColor;
      border: 1px dashed $tipColor;
      border-radius: 5px;
      cursor: pointer;
      & + .item {
        margin-left: formatVal(10, rem);
      }
      &.active {
        color: $orange;
        border: 1px solid $orange;
      }
    }
  }
}

.c-table-custom{
  .table-header,.table-cont{
    border: 1px solid $loginMainBgColor;
    .tr{
      display: flex;
      flex-flow: wrap;
      .th,.td{
        word-break: break-all;
        flex: 1;
        padding: formatVal(5,rem);
        &[class^="w-"], &[class*=" w-"]{
          @extend %ellipsis;
        }
        &.w-20{
          flex: 0 0 formatVal(350,rem);
        }
        &.w-15{
          flex: 0 0 formatVal(250,rem);
        }
        &.w-10{
          flex: 0 0 formatVal(200,rem);
        }
        &.w-8{
          flex: 0 0 formatVal(150,rem);
        }
        &.w-5{
          flex: 0 0 formatVal(100,rem);
        }
        &.w-4{
          flex: 0 0 formatVal(90,rem);
        }
        &.w-3{
          flex: 0 0 formatVal(60,rem);
        }
        &.w-2{
          flex: 0 0 formatVal(35,rem);
        }
      }
      .th{
        font-weight: bold;
        &+.th{
          border-left: 1px solid $loginMainBgColor;
        }
      }
      .td{
        &+.td{
          border-left: 1px solid $loginMainBgColor;
        }
      }
    }
  }
  .table-header{
    &+.tr{
      border-top: 1px solid $loginMainBgColor;
    }
  }
  .table-cont{
    &.slider{
      overflow: hidden;
      .swiper-slide{
        &+.swiper-slide{
          border-top: 1px solid $loginMainBgColor;
        }
      }
    }
    &.no-slider{
      &+.tr{
        border-top: 1px solid $loginMainBgColor;
      }
    }
  }
  .nothing{
    display: none;
    text-align: center;
    border: 1px solid $loginMainBgColor;
    border-top: none;
  }
}
