<!DOCTYPE html>
<html lang="en">
<!--[if IE 8 ]>
<html lang="en" class="ie8">
<![endif]-->
<head>
  <%= require("ejs-loader!components/common/head.ejs")({refresh:3600}) %>
  <title>云创造物 | 销售看板</title>
</head>
<body>
<%= require("ejs-loader!components/base/alert/alert.ejs")({className:'c-message'}) %>
<div class="g-wrap">
  <!--<%= require("ejs-loader!components/common/header/header.ejs")({userInfoFlag:false}) %>-->
  <div class="g-main">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">销售看板</h1>
      </div>
      <div class="panel-body">
        <div class="cont-wrap">
          <div class="left">
            <div class="chunk table">
              <div class="c-table-wrapper">
                <div class="c-shadow-local-abs">
                  <div class="c-center-ta">
                    <div class="c-center-tc">
                      <div class="c-center-cont">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-table-custom">
                  <div class="table-header">
                    <div class="tr thead">
                      <div class="th w-0">客户代码</div>
                      <div class="th w-0">客户标识</div>
                      <div class="th w-0">今年订单额</div>
                      <div class="th w-0">交付准时率</div>
                      <div class="th w-0">大客户投诉率</div>
                      <div class="th w-0">回款计划达成率</div>
                    </div>
                  </div>
                  <div class="table-cont slider swiper-container swiper-container-main">
                    <div class="swiper-wrapper" id="dataTable">
                    </div>
                  </div>
                  <div class="nothing">暂无内容~</div>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="chunk table">
              <div class="c-table-wrapper">
                <div class="c-shadow-local-abs">
                  <div class="c-center-ta">
                    <div class="c-center-tc">
                      <div class="c-center-cont">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-table-custom">
                  <div class="table-header">
                    <div class="caption green">金百泽</div>
                    <div class="tr thead">
                      <div class="th first w-3"><span class="name">区域</span></div>
                      <div class="th w-0"><span class="name">项目数量</span></div>
                      <div class="th w-0"><span class="name">线索阶段</span></div>
                      <div class="th w-0"><span class="name">商机阶段</span></div>
                      <div class="th w-0"><span class="name">引导客户阶段</span></div>
                      <div class="th w-0"><span class="name">解决方案阶段</span></div>
                      <div class="th w-0"><span class="name">合同签订阶段</span></div>
                      <div class="th w-0"><span class="name">合同履行阶段</span></div>
                    </div>
                  </div>
                  <div class="table-cont">
                    <div id="salesTable">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chunk table">
              <div class="c-table-wrapper">
                <div class="c-shadow-local-abs">
                  <div class="c-center-ta">
                    <div class="c-center-tc">
                      <div class="c-center-cont">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="c-table-custom">
                  <div class="table-header">
                    <div class="caption org">云创造物</div>
                    <div class="tr thead">
                      <div class="th first w-3"><span class="name">区域</span></div>
                      <div class="th w-0"><span class="name">项目数量</span></div>
                      <div class="th w-0"><span class="name">线索阶段</span></div>
                      <div class="th w-0"><span class="name">商机阶段</span></div>
                      <div class="th w-0"><span class="name">引导客户阶段</span></div>
                      <div class="th w-0"><span class="name">解决方案阶段</span></div>
                      <div class="th w-0"><span class="name">合同签订阶段</span></div>
                      <div class="th w-0"><span class="name">合同履行阶段</span></div>
                    </div>
                  </div>
                  <div class="table-cont">
                    <div id="orderTable">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= require("ejs-loader!components/common/footer/footer.ejs")()%>
</div>
<%= require("ejs-loader!components/common/footerScript.ejs")() %>

</body>
</html>
