@import "~scss/compile";
.g-wrap{
  .g-header{
    border: none;
    .navbar {
      .navbar-header {
        width: auto;
        padding: formatVal(22,rem) formatVal(19,rem) 0 0;
        float: right;
      }
    }
  }
  .g-main{
    margin-top: formatVal(-35,rem);
    padding: 0 formatVal(30,rem) 0 formatVal(44,rem);
    .titlebox{
      color: $color-theme;
      margin-bottom: formatVal(28,rem);
      line-height: 1;
      .title{
        line-height: 1;
        @include fs_rem(30);
        margin-top: 0;
        margin-bottom: formatVal(13,rem);
      }
      .subtitle{
        @include fs_rem(14);
      }
    }
    .desc{
      display: flex;
      flex-flow: nowrap;
      //align-items: flex-end;
      .info{
        flex: 0 0 formatVal(270,rem);
        img{
          display: block;
          width: 100%;
        }
      }
      .video{
        flex: 1;
        margin-left: formatVal(25,rem);
        video{
          display: block;
          width: 100%;
          @include h(223);
          margin-bottom: formatVal(10,rem);
        }
        img{
          display: block;
          width: 100%;
        }
      }
    }
  }
  .g-footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    @include h(24);
    padding: 0;
    display: flex;
    .left{
      flex: 0 0 formatVal(187,rem);
      background-color: $color-gray-7A;
    }
    .right{
      flex: 1;
      background-color: $color-theme;
    }
  }
}
