<!DOCTYPE html>
<html lang="en">
<!--[if IE 8 ]>
<html lang="en" class="ie8">
<![endif]-->
<head>
  <%= require("ejs-loader!components/common/head.ejs")({refresh:false}) %>
  <title>云创造物 | KBOM业务介绍</title>
</head>
<body>
<%= require("ejs-loader!components/base/alert/alert.ejs")({className:'c-message'}) %>
<div class="g-wrap">
  <%= require("ejs-loader!components/common/header/header.ejs")({userInfoFlag:false}) %>
  <div class="g-main">
    <div class="titlebox">
      <h1 class="title">BOM技术服务与供应链服务</h1>
      <div class="subtitle">用产品化思维做BOM优化与供应链服务，高效攻克量产难关</div>
    </div>
    <div class="desc">
      <div class="info">
        <img src="<%= require('./img1@2x.png') %>">
      </div>
      <div class="video">
        <video muted src="http://cscfilemv.kingbrother.com/flie/%E9%80%A0%E7%89%A9%E5%95%86%E5%9F%8E/%E5%95%86%E5%9F%8E%E8%A7%86%E9%A2%91.mp4" controls autoplay="true" loop></video>
        <img src="<%= require('./img2@2x.png') %>">
      </div>
    </div>
  </div>
  <footer class="g-footer">
    <div class="left"></div>
    <div class="right"></div>
  </footer>
</div>
<%= require("ejs-loader!components/common/footerScript.ejs")() %>
</body>
</html>
