<div class="modal-wrapper">
    <div class="modal fade technical-support-modal" id="technicalSupportModal" tabindex="-1" role="dialog" aria-labelledby="technicalSupportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="technicalSupportModalLabel">技术支持</h4>
                </div>
                <div class="modal-body">
                    <!--<div class="panel-group row">
                        <div class="panel panel-default">
                            <div class="panel-heading">交付在线 | 订单交付部</div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        田雨
                                    </div>
                                    <div class="media-body">
                                        <p>QQ: 1079884210</p>
                                        <p>电话: 15766934623</p>
                                    </div>
                                </div>
                            </div>
                        </div>&lt;!&ndash;
                        &ndash;&gt;<div class="panel panel-default">
                            <div class="panel-heading">物流在线 | 物流部</div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        王格
                                    </div>
                                    <div class="media-body">
                                        <p>QQ: 381493769</p>
                                        <p>电话: 15113206796</p>
                                    </div>
                                </div>
                            </div>
                        </div>&lt;!&ndash;
                        &ndash;&gt;<div class="panel panel-default">
                            <div class="panel-heading"> 工程在线 | PCB事业部</div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        张仪宗
                                    </div>
                                    <div class="media-body">
                                        <p>QQ: 195631991</p>
                                        <p>电话: 18819669060</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="type" rowspan="7">业务类</th>
                                <th class="title">部门</th>
                                <th class="title">负责窗口</th>
                                <th class="title">QQ</th>
                                <th class="title">联系电话</th>
                                <th class="title">邮箱</th>
                            </tr>
                            <tr>
                                <td>订单交付部</td>
                                <td>田雨（交付）</td>
                                <td>1079884210</td>
                                <td>15766934623</td>
                                <td>tiany@kbpcb.com</td>
                            </tr>
                            <tr>
                                <td>物流部</td>
                                <td>王格（物流）</td>
                                <td>381493769</td>
                                <td>15113206796</td>
                                <td>wangg@kbpcb.net</td>
                            </tr>
                            <tr>
                                <td>采购管理部</td>
                                <td>王华（材料供应查询）</td>
                                <td>75033007</td>
                                <td>15220697902</td>
                                <td>wangh@kingbrother.com</td>
                            </tr>
                            <tr>
                                <td>订单管理部</td>
                                <td>卓海萍（订单商务）</td>
                                <td>764551984</td>
                                <td>18662451224</td>
                                <td>zhuohp@kingbrother.com</td>
                            </tr>
                            <tr>
                                <td>订单交付部</td>
                                <td>袁严荣（交付评审）</td>
                                <td>98601610</td>
                                <td>13902665280</td>
                                <td>yuannr@kingbrother.com</td>
                            </tr>
                            <tr>
                                <td>销售管理部</td>
                                <td>胡玲(销管)</td>
                                <td>6659350</td>
                                <td>13247609999</td>
                                <td>hul@kingbrother.com</td>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="type" rowspan="6">技术类</th>
                            <th class="title">部门</th>
                            <th class="title">负责窗口</th>
                            <th class="title">QQ</th>
                            <th class="title">联系电话</th>
                            <th class="title">邮箱</th>
                        </tr>
                        <tr>
                            <td>PCB事业部</td>
                            <td>张仪宗(PCB工程)</td>
                            <td>195631991</td>
                            <td>18819669060</td>
                            <td>zhangyz@kingbrother.com</td>
                        </tr>
                        <tr>
                            <td>技术部</td>
                            <td>卫雄（PCB技术）</td>
                            <td>652583815</td>
                            <td>13423793608</td>
                            <td>weix@kingbrother.com</td>
                        </tr>
                        <tr>
                            <td>IEMS</td>
                            <td>白正凯（PCBA技术）</td>
                            <td>1633241124</td>
                            <td>13480510193</td>
                            <td>baizk@kingbrother.com</td>
                        </tr>
                        <tr>
                            <td>订单质量部</td>
                            <td>丁光富(PCB质量)</td>
                            <td>398300820</td>
                            <td>15360961361</td>
                            <td>dinggf@kingbrother.com</td>
                        </tr>
                        <tr>
                            <td>IEMS事业部</td>
                            <td>钟军(PCBA质量)</td>
                            <td>1661214938</td>
                            <td>15018887167</td>
                            <td>zhongj@kingbrother.com</td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<div class="c-consultation">
    <div class="item c-robot">
        <button class="btn btn-success" id="robotBtn"><i class="fa fa-commenting-o"></i></button>
        <div class="dialog">
            <div class="panel panel-success">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <div class="media-wrapper clearfix dialog-cont-hook">
                        <div class="media robot">
                            <div class="media-left media-middle">
                                <img class="media-object" src="" alt="机器人">
                            </div>
                            <div class="media-body">
                                <div class="cont">
                                    欢迎咨询~~
                                </div>
                            </div>
                        </div>
                        <!--<div class="media user">
                            <div class="media-body">
                                <div class="cont">
                                    <h4 class="media-heading">Media heading</h4>
                                    我
                                </div>
                            </div>
                            <div class="media-right">
                                <img class="media-object" src="" alt="我">
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="panel-footer">
                    <form id="robot" class="c-form" onkeydown="if(event.keyCode==13)return false;">
                        <div class="input-group">
                            <input type="text" class="form-control dialog-askcont-hook" placeholder="请输入。。。"
                                   data-validation-engine="validate[required]">
                            <span class="input-group-btn">
                            <button class="btn dialog-send-hook" type="button">发送</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <a class="btn btn-success" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=782633832&site=qq&menu=yes"><i class="fa fa-qq"></i></a>
    </div>
</div>
<footer class="g-footer">
    <p>power by kingbrother</p>
</footer>
