<!DOCTYPE html>
<html lang="en">
<!--[if IE 8 ]>
<html lang="en" class="ie8">
<![endif]-->
<head>
  <%= require("ejs-loader!components/common/head.ejs")() %>
  <title>云创硬见 | 在线PCB封装库</title>
</head>
<body>
<%= require("ejs-loader!components/base/alert/alert.ejs")({className:'c-message'}) %>
<div class="g-wrap">
  <%= require("ejs-loader!components/common/header/header.ejs")({userInfoFlag:false}) %>
  <div class="g-main">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">文档列表</h1>
      </div>
      <div class="panel-body">
        <div class="search-wrapper">
          <form class="c-search-form">
            <div class="form-item name">
              <label class="title">文档名称：</label>
              <input type="text" class="search-name-val"/>
            </div>
            <!--<div class="form-item type">-->
              <!--<span class="title">文档类型：</span>-->
              <!--<div class="btn-group c-select" data-isload="true">-->
                <!--<button type="button" class="btn btn-default dropdown-toggle c-select-btn"-->
                        <!--data-id=""-->
                        <!--data-toggle="dropdown">-->
                  <!--全部-->
                  <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu c-select-menu" role="menu">-->
                  <!--<li class="item" data-id="">-->
                    <!--<a href="#">全部</a>-->
                  <!--</li>-->
                  <!--<li class="item" data-id="1">-->
                    <!--<a href="#">技术文档</a>-->
                  <!--</li>-->
                  <!--<li class="item" data-id="2">-->
                    <!--<a href="#">质量文档</a>-->
                  <!--</li>-->
                  <!--<li class="item" data-id="3">-->
                    <!--<a href="#">交付文档</a>-->
                  <!--</li>-->
                  <!--<li class="item" data-id="4">-->
                    <!--<a href="#">营销文档</a>-->
                  <!--</li>-->
                  <!--<li class="item" data-id="5">-->
                    <!--<a href="#">资质荣誉</a>-->
                  <!--</li>-->
                  <!--<li class="item" data-id="10">-->
                    <!--<a href="#">其他</a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<input type="hidden" name="clubGuid" class="dataElem search-type-val" value="">-->
              <!--</div>-->
            <!--</div>            -->
            <!--<div class="form-item labelNames">-->
              <!--<label class="title">文档标签：</label>-->
              <!--<input type="text" class="search-labelNames-val"/>-->
            <!--</div>-->
            <!--<div class="form-item lastModifiedByName">-->
              <!--<label class="title">更新人：</label>-->
              <!--<input type="text" class="search-lastModifiedByName-val"/>-->
            <!--</div>-->
            <!--<div class="form-item timer">-->
              <!--<span class="title">时间:</span>-->
              <!--<input type="text" class="layui-input start-time" id="startTime">-->
              <!--<span>~</span>-->
              <!--<input type="text" class="layui-input start-time" id="endTime">-->
            <!--</div>-->
            <div class="form-item btnbox">
              <button type="button" class="btn btn-item search-submit-btn">查询</button>
              <button type="reset" class="btn btn-item search-reset-btn">重置</button>
            </div>
          </form>
        </div>
        <div class="operate-wrapper">
          <!--<form class="form-inline">-->
            <!--<div class="form-group control-btn">-->
              <!--<button type="button" class="btn btn-default batch-btn-hook btn-theme" data-type="excel">上传材料</button>-->
            <!--</div>-->
          <!--</form>-->
        </div>
        <div class="c-table-wrapper">
          <div class="c-shadow-local-abs">
            <div class="c-center-ta">
              <div class="c-center-tc">
                <div class="c-center-cont">
                  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
          <table id="dataTable" class="table table-striped table-bordered table-hover c-table table-fixed"
                 cellspacing="0">
            <thead>
            <tr>
              <th>文档名称</th>
              <th>文档类型</th>
              <th>文档标签</th>
              <th>最后更新时间</th>
              <th>最后更新人</th>
              <th>文档大小</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody id="dataTableData"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= require("ejs-loader!components/common/footer/footer.ejs")()%>
</div>
<%= require("ejs-loader!components/common/footerScript.ejs")() %>

</body>
</html>
